# Database
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/novence"

# JWT
JWT_SECRET="your-super-secret-key-change-in-production"
JWT_EXPIRES_IN="7d"

# BT Open Banking Sandbox
BT_BASE_URL="https://api.apistorebt.ro/bt/sb"
BT_AUTH_URL="https://apistorebt.ro/auth/realms/psd2-sb/protocol/openid-connect/auth"
BT_REDIRECT_URI="https://google.com"
BT_CLIENT_NAME="Novence Finance App"


# Google Gemini AI
GEMINI_API_KEY="Inlocuieste cu cheia"


# Server
PORT=3000
